imports:
    - { resource: credentials.yml }

parameters:
    default.namespace:
        - Oasis
        - Oasis\SlimApp
        - Oasis\Mlib
    sns.config:
        profile: minhao
        region: us-east-1


services:
    app:
        class: SlimApp
        factory: [SlimApp, app]
        properties:
            logging:
                path: %app.dir.log%
                level: debug
                handlers:
#                    - '@log.handler.sns'
#                    - '@log.handler.console'
#                    - '@log.handler.file'
            cli:
                name: Slim App Console
                version: 1.1
                commands: # array of command object
                    - '@cli.command.dummy'
                    - '@cli.command.sentinel'
            http:
                routing:
                    path: %app.dir.config%/routes.yml
                    namespaces:
                        - Oasis\SlimApp\Ut\
                error_handlers: '@http.error_handler'
                view_handlers: '@http.view_handler'
                cors:
                    -
                        path:       /cors/*
                        origins:    "*"


    log.handler.sns:
        class: Oasis\Mlib\Logging\AwsSnsHandler
        arguments:
            - '@sns.publisher'
            - message from slimapp
        calls:
            - [enableAutoPublishingOnFatalError, []]

    cli.command.dummy:
        class: tests\DummyCommand
    cli.command.sentinel:
        class: tests\TestSentinelCommand

    http.error_handler:
        class: Http\ErrorHandlers\JsonErrorHandler
    http.view_handler:
        class: Http\Views\JsonViewHandler

    memcached:
        class: Memcached
        calls:
            - [addServer, ['127.0.0.1', 9999]]

    dummy:
        class: Dummy
        factory: ['@app', app]
        properties:
            name: %db.username%

    sns.publisher:
        class: Oasis\Mlib\AwsWrappers\SnsPublisher
        arguments:
            - %sns.config%
            - "arn:aws:sns:us-east-1:315771499375:dynamodb"
